@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');
@import url('https://fonts.maateen.me/adorsho-lipi/font.css');

*
{   
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body
{
    background: #000 url(bg.jpg) no-repeat center top;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-blend-mode: hard-light;
    max-width:100%;height:auto;

}
.image{
    opacity: .01;
    width: 5px;
    height: 5px;
}
.container
{
    position: absolute;
    top: 80px;
    left: 100px;
    right: 100px;
    bottom: 80px;
    background: url(bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.container h2
{
    text-align: center;
    font-size: 10em;
    line-height:1em;
    color:rgb(203, 247, 82);
    text-shadow: -5px 5px 2px rgba(0, 0, 0, .1);
    margin-top: -80px;
    transition: 0.5s;
 
}

.container h2:hover
{
    text-shadow: -1px 1px 0px rgba(0, 0, 0, 1);
}


.container h2 span
{
    display: block;
    font-weight: 300;
    letter-spacing: 6px;
    font-size: 0.2em;

}

.countdown
{
    display: flex;
    padding: 25px;

}

.countdown div{
    position: relative;
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    background: #333;
    color: #fff;
    margin: 0 15px;
    font-style: normal;
    text-shadow: -1px 1px 1px rgba(0, 0, 0, 1);
    font-size: 3em;

    box-shadow: -2px 2px 5px rgba(0, 0, 0, 1);;
    font-weight: 500;

}
.countdown div:before
{
    content: '';
    position: absolute;
    bottom: -30px;
    left: 0;
    width:100% ;
    height: 35px;
    background: #ff0;
    color: #333;
    font-style: normal;
    font-size: .5em;
    line-height: 35px;
    font-weight: 300;

}

.countdown #day:before
{
    content: 'Days';
}
.countdown #hour:before
{
    content: 'Hours';
}
.countdown #minute:before
{
    content: 'Minutes';
}
.countdown #second:before
{
    content: 'Seconds';
}
@media screen and (max-width:980px) {
    .container {
     top:100px;
     left:50px;
     right:50px;
     bottom:100px
    }
   }
   @media screen and (max-width:668px) {
    .container {
     top:150px;
     left:40px;
     right:40px;
     bottom:150px;
     border-radius: 25px;
     
    }
    .container h2 {
     font-size:32px;
    }

    .container h2 span
    {
    display: block;
    font-weight: 300;
    letter-spacing: 6px;
    font-size: 0.9em;

    }
    .container h2::before {
     width:120px;
     height:4px;
     left:30%
    }
    .countdown div {
     width:80px;
     height:50px;
     margin:15px;
     font-size:32px;
     font-weight:700;
     line-height:50px
    }
    .countdown div::before {
     height:30px;
     font-size:16px;
     line-height:30px
    }
    }
   @media screen and (max-width:500px) {
    .container {
     left:10px;
     right:10px
    }
   }
   @media screen and (max-width:480px) {
    .container {
     left:5px;
     right:5px;
     top:80px;
     bottom:80px
    }
    .container h2 {
        font-size: 1.5em;
    }
    .container h2::before {
     width:80px;
     height:3px;
     left:38%
    }
    .container h2:hover
    {
    text-shadow: -1px 1px 0px rgba(0, 0, 0, 1);
    }


    .container h2 span
    {
    display: block;
    font-weight: 300;
    letter-spacing: 6px;
    font-size: 1em;

    }

    .countdown div {
     width:70px;
     height:50px;
     margin:0 0 0 8px;
     font-size:28px;
     font-weight:700;
     line-height:50px
    }
    .countdown div::before {
     height:30px;
     line-height:30px
    }
    
    .countdown {
     margin-top:-15px
    }
    #text{
        font-size: 30px;
       }
   }
#text{
    color:rgb(255, 254, 254);
    font-size: 60px;
    text-align: center;
    margin-top: 300px;
    font-family: 'AdorshoLipi', Arial, sans-serif !important;
    padding: 10px;
    }
